/*@font-face {
  font-family: 'Seaweed Script', cursive
}*/

body {
  text-shadow: none
  color: black;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

#map-google {
  position: absolute;
  width: 100%;
  left: 0;
  height:100%;
  z-index:0;
  }

.glass-blur {
  background-color: rgba(255,255,255,0.5) !important; 
  background-image: linear-gradient(180deg, rgba(238,255,255,0.5) 0%, rgba(9,9,121,0) 25%, rgba(9,9,121,0) 75%, rgba(89,153,161,0.25) 100%); 
  /*backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);*/
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  
}

.navbar{
    margin-bottom: 50px !important;
}

.btn .glass-blur {
  background-color: rgba(255,255,255,0.5) !important; 
  border: none !important;
  border-color: rgba(255,255,255,0) !important;
  /*color:black;*/
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3)
}
/*
.col .needspadding {
  padding-left: 50px;
}*/

.collapse {
  color: black;

}

.btn:hover {
  color:#BFD9C8;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-outline-danger:hover {
  color:#8C452B;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.card-text {
  clear: none;
}

.card-text::after {
  clear: both;
}


.input-group-append {
  box-shadow: none;
  border-color: #90D980;
}

.border-primary {
  border-color: #90D980 !important;
}

.btn-outline-primary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #90D980;
}

.btn-outline-primary:hover {
  color:#6c757d;background-color:#90D980;border-color:#90D980
}



.btn-outline-primary:focus, .btn-outline-primary.focus {
  color:#6c757d;background-color:#90D980;border-color:#90D980
}

.btn-outline-danger {
    color: #D97B59;
    background-color: transparent;
    background-image: none;
    border-color: #D97B59;
}

.btn-outline-danger:hover {
  color:#D97B59;background-color:#F7F1DA;border-color:#D97B59
}

.img-thumbnail{
  width: 4em; 
  height: 4em;
  object-fit: cover;
  float:left;
  overflow: hidden;
  border-radius: 50%;
}

#multiCollapseExample1 > .card > .row > .card:hover {
  color:#D97B59;
  background-color:#F7F1DA;
  border-color:#D97B59;
  box-shadow: 0 0 1em #BFD9C8;
  transition: color .25s ease-in-out, 
    background-color .25s ease-in-out, 
    border-color .25s ease-in-out, 
    box-shadow .25s ease-in-out;

}

.loading-page {
  height: 100vh;
  position:fixed;
  top:0;
  left:0;
}

.overlay-desc {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000
}
h1 {
  color: rgba(255,255,255,1);
  /*font-family: 'Nobile', sans-serif;*/
  font-size: 9vw;
  text-align: center;
  font-family: 'Seaweed Script', cursive;
  }