    <div class="card card-body">
      <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-primary dropdown-toggle my-3" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search in</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Current View</a>
              <a class="dropdown-item" href="#">All of CA</a>
            </div>
          </div>
          <input type="text" class="form-control typeahead border-primary border-right-0 my-3" name="query" id="query" placeholder="Search for plants" data-provide="typeahead" autocomplete="off">
          <div class="input-group-append my-3">
              <button type="submit" class="btn btn-outline-primary border-left-0">
                  <img src="../static/resources/search-plant-solid.svg" width="30" height="30" alt="">
              </button>
          </div>
      </div>
      <div class="row justify-content-left result-row" style="display: none; align-items: center;">
        <div class="card bg-light" data-toggle="modal" data-target="#exampleModalCenter" style="max-width: 20rem;" > <!--style="max-width: 20rem;" -->
          <div class="card-header">Header</div>
            <div class="card-body">
              <div class="row">
                <img src="https://www.warrenphotographic.co.uk/photography/bigs/07292-Cute-kitten-white-background.jpg" alt="plant picture" class="img-thumbnail" style="width: 10%; height: 10%;float:left;overflow: hidden;border-radius: 50%;" >
                 <h7 class="card-title" style="text-shadow: none; padding-left: 10px">Light card title</h7>
              </div>
            </div>
          </div>
          <div class="col" style="display: flex; align-items: center;">
            <button type="button" class="btn btn-outline-danger">Remove</button>
          </div>
        </div>
      </div>
